.footer {
    height: 12vh;
    width: auto;
    // background-image: linear-gradient(to top, black, rgba(0, 0, 0, 0));
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 0%;  
  img:hover {
    transform: scale(1.2);
    transition: all 0.5s ease-in-out;
  }
  
  img {
    margin-top: 2.5vh;
    height: 5vh;
    width: 5vh;
    margin-left: 2vh;
    margin-right: 2vh;    
    transition: all 0.5s ease-in-out;
  }
}