header {
    height: $alto_header;
    width: auto;
    background-image: $degradado;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    .header__iconod {
        height: 8vh;
        width: 8vh;
      }
    .header__iconoi {
        height: 8vh;
        width: 8vh;
        transform: scaleX(-1);
      }
    .header__titulo {
        font-size: 4vh;
        color: white;
        -webkit-text-stroke: 0.2px black;
        margin-bottom: 1vh;
      }

  }